html, body, div, h1, h2, p, article, header, nav, section, ul, li {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none;
}

.wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;

    /* 
        ? is it justify content / align items
        TODO: come back and fix this
    */
}

.nav_bar{
    border:2px solid black;
    margin:10px;
    padding:5px 15px;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h1 {
    font-weight:bold;
    display:flex;
    flex-direction:row;
    align-items: center;

}

ul {
    display:flex;
    flex-direction:row;
}

ul li {
    list-style: none;
    padding:2px 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

ul li:nth-child(2){
    border-left:1px solid black;
    border-right:1px solid black;
}