html, body, div, h1, h2, p, article, header, nav, section, ul, li {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none;
}

.wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    height: 100vh;
    position:relative;

    /* 
        ? is it justify content / align items
        TODO: come back and fix this
    */
}

footer, .nav_bar {
    border:2px solid black;
    margin:10px;
    padding:5px 15px;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
}

.nav_bar{
    justify-content: space-between;
}

h1 {
    font-weight:bold;
    display:flex;
    flex-direction:row;
    align-items: center;

}

nav ul {
    display:flex;
    flex-direction:row;
}

nav ul li {
    list-style: none;
    padding:2px 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

nav ul li:nth-child(2){
    border-left:1px solid black;
    border-right:1px solid black;
}

nav li a {
    text-decoration: none;
    color:black;
}

nav ul li a.active{
    color:blue;
}

.page {
    display:flex;
    flex-direction: column;
}


.contact_page {
    margin: 5% 15%;
}

.page_title {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:5%;
    font-size:3em;
}

.contact_details {
     margin-top:4%;
     padding-left:4%;
}

.contact_details li {
    line-height: 1.5em;
}



footer {
    position:absolute;
    bottom: 0px;
    /* 
    TODO: fix the length of the footer on page resize
    */
    width:95%;
}

/* 
    ! remember to delete the styles below this line 

*/

.contact_page {
    display:none;
}










