html, body, div, h1, h2, p, article, header, nav, section {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;

    /* 
        ? is it justify content / align items
        TODO: come back and fix this
    */
}

.nav_bar{
    border:2px solid black;
    margin:10px;
    padding:5px 15px;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h1, ul {
    border:1px solid black;
}

h1 {
    font-weight:bold;
}